{% extends 'questions/base.html' %}
{% block title %}
    آگاهی برند
{% endblock %}
{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
    <style>
        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    </style>
{% endblock %}
{% block content %}
    <input type="hidden" value="{{ answersheet }}" name="answersheet">
    <input type="hidden" value="{{ last_question }}" name="last_question">
    <input type="hidden" value="{{ first_question }}" name="first_question">
    <div class="questions" id="questions">
    </div>
    <div class="options" id="options">
    </div>
    <button type="button" id="previous_btn" class="hide btn btn-primary btn-lg">قبل</button>
    <button type="button" id="next_btn" class="btn btn-primary btn-lg">بعد</button>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="hide btn btn-primary btn-lg" id="submit">ادامه</button>
    </form>
{% endblock %}
{% block js %}
    <script>
        let current_direction
        let next_btn = $('#next_btn')
        let previous_btn = $('#previous_btn')
        let options_html = $('#options')
        let questions_html = $('#questions')
        let current_question = parseInt($('input[name=first_question]').val())
        let first_question = parseInt($('input[name=first_question]').val())
        let last_question = parseInt($('input[name=last_question]').val())
        let submit_btn = $('#submit')
        $(document).ready(function () {
            fetch_data_from_server()
        });

        function fetch_data_from_server() {
            $.ajax({
                url: '{% url 'Survey:brand_list_ajax' %}',
                dataType: "json",
                success: function (response) {
                    localStorage.setItem('brands', JSON.stringify(response))
                }
            });
            let data = {'first_question': first_question}
            $.ajax({
                url: '{% url 'Survey:question_list_ajax' %}',
                dataType: "json",
                data: data,
                success: function (response) {
                    localStorage.setItem('questions', JSON.stringify(response))
                }
            });
        }

        $(document).ajaxSuccess(function () {
            question_management('next')
            paging('next')
            previous_btn.addClass('hide')
        })
        next_btn.click(function () {
            //چک میکنم که به سوال آخر رسیدم submit کنم
            if (current_question > last_question) {
                next_btn.addClass('hide')
                submit_btn.removeClass('hide')
            }
            //checkbox های تیک خورده را پیدا میکنم
            let answer = document.querySelectorAll('input:checked')
            if (answer.length == 0) {
                answer = document.querySelectorAll('input[type=text]')
            }
            //بخش گزینه های سوال قبلی را پاک میکنم
            $('#options').html('')
            if (current_direction == 'previous') {
                //صفحه را refresh به بعد میکنم
                paging('next')
            }
            // به سوال بعدی بروم
            question_management('next', answer)
            //صفحه را refresh به بعد میکنم
            paging('next')
        });

        previous_btn.click(function () {
            //بخش گزینه های سوال قبلی را پاک میکنم
            options_html.html('')
            //صفحه را refresh به قبل میکنم
            paging('previous')
            // به سوال قبل بروم
            question_management('previous')
        });

        function get_data_localstorage(data) {
            return JSON.parse(localStorage.getItem(data))
        }

        function question_management(next_or_previous, answer = undefined) {

            if (current_question == 8) {
                //question8
                if (next_or_previous == 'previous') {
                    fetch_data_from_server()
                }
                let brands = JSON.parse(localStorage.brands).brands
                options_show(brands, 'brands')
                let radiobuttnons = $('input[type=checkbox]')
                radiobuttnons.on('change', function (e) {
                    if ($('input[type=checkbox]:checked').length > 1) {
                        $(this).prop('checked', false);
                        alert('لطفا حداکثر یک برند را انتخاب کنید')
                    }
                });
            }
            else if (current_question == 9) {
                //question9
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A1')
                } else {
                    temp = get_data_localstorage('A1')
                }
                let brands = JSON.parse(localStorage.brands).brands
                if (answer != 99) {
                    let index
                    for (var key in temp) {
                        index = temp[key]
                    }
                    if (index != undefined) {
                        let temp1 = brands.splice(0, index - 1)
                        let temp2 = brands.splice(1, brands.length)
                        brands = temp1.concat(temp2)
                        localStorage.removeItem('brands')
                        localStorage.setItem('brands', JSON.stringify(brands))
                    }
                }
                options_show(brands, 'brands')
            }
            else if (current_question == 10) {
                //question10
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A2')
                    let A1 = JSON.parse(localStorage.A1)
                    $.extend(temp, A1)
                } else {
                    temp = get_data_localstorage('A2')
                }
                options_show(temp, 'rest')
            }
            else if (current_question == 11) {
                //question11
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A4')
                } else {
                    temp = get_data_localstorage('A4')
                }
                options_show(temp, 'rest')
                let radiobuttnons = $('input[type=checkbox]')
                radiobuttnons.on('change', function (e) {
                    if ($('input[type=checkbox]:checked').length > 3) {
                        $(this).prop('checked', false);
                        alert('لطفا فقط 3 برند را انتخاب کنید')
                    }
                });
            }
            else if (current_question == 12) {
                //question12
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A6')
                } else {
                    temp = get_data_localstorage('A6')
                }
                options_show(temp, 'text')
            }
            else if (current_question == 13) {
                //question13
                previous_btn.removeClass('hide')
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A7')
                } else {
                    temp = get_data_localstorage('A7')
                }
                let chart_data = []
                let char_value = []
                let sum = 0
                for (item in temp) {
                    chart_data.push(item)
                    sum += parseInt(temp[item])
                }
                for (item in temp) {
                    char_value.push(parseInt(temp[item]) / sum * 100)
                }
                let result = '<div class="row"><div class="col-lg-2 col-md-2 col-sm-12 col-12"></div><div class="col-lg-8 col-md-8 col-sm-12 col-12"><canvas id="myChart" width="400" height="400"></canvas></div></div>'
                $('#options').html(result)
                questions_show()
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: chart_data,
                        datasets: [{
                            label: chart_data,
                            data: char_value,
                            backgroundColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                            ],
                            borderWidth: 1
                        }]
                    },
                });
            }
            else if (current_question == 14) {
                //question14
                previous_btn.addClass('hide')
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A8')
                } else {
                    temp = get_data_localstorage('A8')
                }
            }
            else if (current_question == 15) {
                //question15
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A9')
                } else {
                    temp = get_data_localstorage('A9')
                }
            }
            else if (current_question == 16) {
                //question16
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A10')
                } else {
                    temp = get_data_localstorage('A10')
                }
            }
            else if (current_question == 17) {
                //question17
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A11')
                } else {
                    temp = get_data_localstorage('A11')
                }
            }
            else if (current_question == 18) {
                //question18
                let temp
                if (next_or_previous == 'next') {
                    temp = set_data_localstorage(answer, 'A12')
                } else {
                    temp = get_data_localstorage('A12')
                }
            }
            questions_show()
        }

        function paging(next_or_previous) {
            let temp;
            if (next_or_previous == 'next') {
                temp = current_question + 1
                current_direction = 'next'
            } else if (next_or_previous == 'previous') {
                if (current_direction == 'next') {
                    console.log('pre+2')
                    temp = current_question - 2
                } else {
                    console.log('pre+2')
                    temp = current_question - 1
                }
                current_direction = 'previous'
            }
            if (temp == 8) {
                previous_btn.addClass('hide')
            }
            current_question = temp
        }

        function options_show(data, type) {
            let result = ''
            if (type == 'brands') {
                for (var i = 0; i < data.length; i++) {
                    result += '<div class="form-check"><label class="form-check-label" for="flexCheckDefault">' + data[i].title + '<input class="form-check-input" type="checkbox" value="' + data[i].pk + '" name="' + data[i].title + '" id="flexCheckDefault"></label></div>'
                }
            } else if (type == 'rest') {
                for (item in data) {
                    result += '<div class="form-check"><label class="form-check-label" for="flexCheckDefault">' + item + '<input class="form-check-input" type="checkbox" value="' + data[item] + '" name="' + item + '" id="flexCheckDefault"></label></div>'
                }
            } else if (type == 'text') {
                for (item in data) {
                    result += '<div class="row">' + item + ': <label><input type="text" name="' + item + '" value="" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"></div></label></div>'
                }
            }
            options_html.html(result)
        }

        function questions_show() {
            let question = JSON.parse(localStorage.questions)
            let question_title
            for (q in question.questions) {
                if (question.questions[q].pk == current_question) {
                    question_title = question.questions[q].question_title
                }
            }
            questions_html.html(question_title)
        }

        function set_data_localstorage(answer, where) {
            let temp = {};
            for (var i = 0; i < answer.length; i++) {
                if (answer[i].value != 99) {
                    temp[answer[i].name] = answer[i].value
                }
            }
            localStorage.setItem(where, JSON.stringify(temp))
            return temp
        }
    </script>
{% endblock %}