{% extends 'questions/base.html' %}
{% block title %}
    آگاهی برند
{% endblock %}
{% block extra_head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js"></script>
    <style>
        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    </style>
{% endblock %}
{% block content %}
    <input type="hidden" value="{{ answersheet }}" name="answersheet">
    <input type="hidden" value="{{ last_question }}" name="last_question">
    <input type="hidden" value="{{ first_question }}" name="first_question">
    {% for question in questions %}
        <div class="questions" id="questions{{ question.pk }}">
            <h4>{{ question }}</h4>
        </div>
        <div class="options" id="options{{ question.pk }}">

        </div>
    {% endfor %}
    <button type="button" id="next_btn" class="btn btn-primary btn-lg">بعد</button>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="hide btn btn-primary btn-lg" id="submit">ادامه</button>
    </form>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            get_brands_ajax()
        });
        $(document).ajaxSuccess(function () {
            initiate_page_options_refresh()
            refresh_page()
        })
        $('#next_btn').click(function () {
            let current_question_id = $('input[name=first_question]').val()
            let last_question = $('input[name=last_question]').val()
            if (parseInt(current_question_id) > parseInt(last_question)) {
                $('#next_btn').addClass('hide')
                $('#submit').removeClass('hide')
            }
            let brands_place = $('#options' + (current_question_id - 1))
            let answer = document.querySelectorAll('input:checked')
            if (answer.length == 0) {
                answer = document.querySelectorAll('input[type=text]')
            }
            brands_place.html('')
            if ((current_question_id - 1) == 8) {
                question_8(answer)
            } else if ((current_question_id - 1) == 9) {
                question_9(answer)
            } else if ((current_question_id - 1) == 10) {
                question_10(answer)
            } else if ((current_question_id - 1) == 11) {
                question_11(answer)
            } else if ((current_question_id - 1) == 12) {
                question_12(answer)
            } else if ((current_question_id - 1) == 13) {
                question_13(answer)
            } else if ((current_question_id - 1) == 14) {
                question_14(answer)
            } else if ((current_question_id - 1) == 15) {
                question_15(answer)
            } else if ((current_question_id - 1) == 16) {
                question_16(answer)
            } else if ((current_question_id - 1) == 17) {
                question_17(answer)
            }
            refresh_page('next')
        });

        function refresh_page() {
            $('#previous_btn').removeClass('hide')
            let current_question_id = $('input[name=first_question]').val()
            let questions = $('.questions')
            let current_question = $('#questions' + current_question_id)
            questions.addClass('hide')
            current_question.removeClass('hide')
            $('input[name=first_question]').val(parseInt(current_question_id) + 1)
        }

        function get_brands_ajax() {
            $.ajax({
                url: '{% url 'Survey:brand_list_ajax' %}',
                dataType: "json",
                success: function (response) {
                    localStorage.setItem('brands', JSON.stringify(response))
                }
            });
        }

        function initiate_page_options_refresh() {
            let brands = JSON.parse(localStorage.brands).brands
            show_options(brands, 'brands')
            let radiobuttnons = $('input[type=checkbox]')
            radiobuttnons.on('change', function (e) {
                if ($('input[type=checkbox]:checked').length > 1) {
                    $(this).prop('checked', false);
                    alert('لطفا حداکثر یک برند را انتخاب کنید')
                }
            });
        }

        function show_options(data, type) {
            let result = ''
            if (type == 'brands') {
                for (var i = 0; i < data.length; i++) {
                    result += '<div class="row"><label><input type="checkbox" name="' + data[i].title + '" value="' + data[i].pk + '">&nbsp' + data[i].title + '</label></div>'
                }
            } else if (type == 'rest') {
                for (item in data) {
                    result += '<div class="row"><label><input type="checkbox" name="' + item + '" value="' + data[item] + '">&nbsp' + item + '</label></div>'
                }
            } else if (type == 'text') {
                for (item in data) {
                    result += '<div class="row">' + item + ': <label><input type="text" name="' + item + '" value=""></label></div>'
                }
            }
            result += '<div class="row"><label><input type="checkbox" name="هیچکدام" value="99"> هیچکدام</label></div>'
            let current_question_id = $('input[name=first_question]').val()
            let brands_place = $('#options' + current_question_id)
            brands_place.html(result)
        }

        function save_answer(answer, where) {
            let temp = {};
            for (var i = 0; i < answer.length; i++) {
                if (answer[i].value != 99) {
                    temp[answer[i].name] = answer[i].value
                }
            }
            localStorage.setItem(where, JSON.stringify(temp))
            return temp
        }

        function question_8(answer) {
            let temp = save_answer(answer, 'A1')
            let brands = JSON.parse(localStorage.brands).brands
            if (answer != 99) {
                let index
                for (var key in temp) {
                    index = temp[key]
                }
                if (index != undefined) {
                    let temp1 = brands.splice(0, index - 1)
                    let temp2 = brands.splice(1, brands.length)
                    brands = temp1.concat(temp2)
                    localStorage.removeItem('brands')
                    localStorage.setItem('brands', JSON.stringify(brands))
                }
            }
            show_options(brands, 'brands')
        }

        function question_9(answer) {
            let temp = save_answer(answer, 'A2')
            let A1 = JSON.parse(localStorage.A1)
            $.extend(temp, A1)
            show_options(temp, 'rest')
        }

        function question_10(answer) {
            let temp = save_answer(answer, 'A4')
            show_options(temp, 'rest')
            let radiobuttnons = $('input[type=checkbox]')
            radiobuttnons.on('change', function (e) {
                if ($('input[type=checkbox]:checked').length > 3) {
                    $(this).prop('checked', false);
                    alert('لطفا فقط 3 برند را انتخاب کنید')
                }
            });
        }

        function question_11(answer) {
            let temp = save_answer(answer, 'A6')
            show_options(temp,'text')
        }

        function question_12(answer) {
            let temp = save_answer(answer, 'A7')
            let chart_data = []
            let char_value = []
            let sum = 0
            for (item in temp) {
                chart_data.push(item)
                //char_value.push(parseInt(temp[item]))
                sum += parseInt(temp[item])
            }
            for (item in temp) {
                char_value.push(parseInt(temp[item]) / sum * 100)
            }
            let result = '<div class="row"><div class="col-lg-2 col-md-2 col-sm-12 col-12"></div><div class="col-lg-8 col-md-8 col-sm-12 col-12"><canvas id="myChart" width="400" height="400"></canvas></div></div>'
            let current_question_id = $('input[name=first_question]').val()
            let brands_place = $('#options' + current_question_id)
            brands_place.html(result)


            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: chart_data,
                    datasets: [{
                        label: chart_data,
                        data: char_value,
                        backgroundColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                        ],
                        borderWidth: 1
                    }]
                },
            });


        }

        function question_13(answer) {
            let temp = save_answer(answer, 'A8')
        }

        function question_14(answer) {
            let temp = save_answer(answer, 'A9')
        }

        function question_15(answer) {
            let temp = save_answer(answer, 'A10')
        }

        function question_16(answer) {
            let temp = save_answer(answer, 'A11')
        }

        function question_17(answer) {
            let temp = save_answer(answer, 'A12')
        }
    </script>
{% endblock %}