{% extends 'questions/base.html' %}
{% load static %}
{% block title %}
    اطلاعات پاسخگو
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/question.css' %}">
{% endblock %}
{% block welcome %}
    <div class="custom_container">
        <h4> {{ AmOrPm }}
            بخیر من
            {{ Who_is }}
            از شرکت تحقیقات بازار آگاه هستم. ما در حال انجام پژوهشی در مورد
            {{ survey_title }}
            برای بهتر شدن
            سرویس دهی {{ survey_title }} می باشیم، لطفا دقایقی از وقت خود را به ما اختصاص داده و در این نظرسنجی شرکت
            کنید</h4>
    </div>
{% endblock %}
{% block content %}
    <div class="custom_container">
        <form method="post">
            {% csrf_token %}
            <h4>{{ age_question.question_title }}</h4>
            <input type="text" name="age_answer" placeholder="{{ age_question.question_title }}">
            <h4>{{ marriage_question.question_title }}</h4>
            <select name="marriage_answer">
                {% for option in marriage_question.options.all %}
                    <option value="{{ option.option_value }}">{{ option.option_title }} </option>
                {% endfor %}
            </select>
            <div class="children hide">
                <h4>{{ children_question.question_title }}</h4>
                <input type="text" class="child" name="children_answer"
                       placeholder="{{ children_question.question_title }}">
                <div class="table_place">

                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">ادامه</button>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script type="application/javascript" src="{% static 'js/question.js' %}"></script>
{% endblock %}