{% extends 'questions/base.html' %}
{% load static %}
{% block title %}
    بخش کلاس اجتماعی
{% endblock %}
{% block extra_head %}
    <link href="{% static 'css/social.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h4>{{ home_question.question_title }}</h4>
        <select name="home">
            {% for item in home_question.options.all %}
                <option value="{{ item.option_value }}">{{ item.option_title }}</option>
            {% endfor %}
        </select>
        <h4>{{ job_question.question_title }}</h4>
        {% for item in job_question.options.all %}
            <div class="row">
                <label><input name="job" type="checkbox" name="{{ item.option_title }}"
                              value="{{ item.option_value }}">&nbsp;{{ item.option_title }}</label>
            </div>
        {% endfor %}
        <h3 class="error hide">لطفا حداکثر 3 شغل انتخاب نمایید</h3>
        <h3>{{ region_question.question_title }}</h3>
        <select name="region">
            {% for reg in region %}
                <option value="{{ reg.region_value }}">{{ reg.region_title }}</option>
            {% endfor %}
        </select>
        <div>
            <button type="submit" class="btn btn-primary btn-lg">ادامه</button>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script src="{% static 'js/social.js' %}" type="application/javascript"></script>
{% endblock %}