{% extends 'questions/base.html' %}
{% load jalali_tags %}
{% load static %}
{% block title %}
    پرسشنامه
    {{ title }}
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>

    <!--auto complete-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <i class="fas fa-user fa-3x"></i>
        {% for element in responder_form %}
            {{ element }}
            {% if element.errors %}
                <p class="error">{{ element.errors.as_text }}</p>
            {% endif %}
        {% endfor %}
        <i class="fas fa-poll-h fa-3x"></i>
        {% for element in answerSheet_form %}
            {{ element }}
            {% if element.errors %}
                <p class="error">{{ element.errors.as_text }}</p>
            {% endif %}
        {% endfor %}
        <div class="hide error interviewer_code_error"><i class="fas fa-exclamation"></i>
            مقدار وارد شده در کد پرسگر نا معتبر است
        </div>
        <i class="fas fa-user-tie fa-3x"></i>
        {% for element in interviewer_form %}
            {{ element }}
            {% if element.errors %}
                <p class="error">{{ element.errors.as_text }}</p>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-chevron-circle-left"></i>
            ادامه
        </button>
    </form>

    <!-- By default, Datepicker using jQuery, you need to set your script after loading jQuery! -->
    <!-- loading directly -->
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
    <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
    <!-- OR -->
    <!-- loading by form (if used AdminJalaliDateWidget) -->
    {{ form.media }}

{% endblock %}
{% block js %}
    <script type="application/javascript" src="{% static 'js/survey.js' %}"></script>
{% endblock %}