{% extends 'questions/base.html' %}
{% load static %}
{% block title %}
    پرسشنامه
    {{ title }}
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for element in responder_form %}
            {{ element }}
        {% endfor %}
        {% for element in answerSheet_form %}
            {{ element }}
        {% endfor %}
        <div class="hide error interviewer_code_error">مقدار وارد شده در کد پرسگر نا معتبر است</div>
        {% for element in interviewer_form %}
            {{ element }}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg">ادامه</button>
    </form>
{% endblock %}
{% block js %}
    <script type="application/javascript" src="{% static 'js/survey.js' %}"></script>
{% endblock %}